<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<h1 th:text="${title}">Edit Ramen Order</h1>


<form method="post" class="form" th:object="${newRamenOrder}">
    <h2>Step 1: Edit Your Broth</h2>

    <p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'broth'}" class="checkbox">
        <input type="radio" checked="checked" name="brothId" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br/>
    </div>
    </p>

    <h2>Step 2: Edit Your Noodle</h2>

    <p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'noodle'}" class="checkbox">
        <input type="radio" checked="checked" name="noodleId" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br/>
    </div>

    </p>

    <h2>Step 3: Edit Your Toppings</h2>

    <p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'topping'}" class="checkbox">
        <input type="checkbox" name="toppingIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br/>
    </div>

    </p>


    <input type="hidden" th:value="${newRamenOrder}" name="newRamenOrder" />
    <input type="submit" value="Edit Order" />


</form>


</body>
</html>