<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>



<form action="#" method="post" class="form" id="orderForm">
<h2>Step 1: Choose Your Broth</h2>


<p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'broth'}" class="checkbox">
        <input type="radio" name="brothIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
         <br/>
    </div>
</p>



<h2>Step 2: Choose Your Noodle</h2>


<p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'noodle'}" class="checkbox">
        <input type="radio" name="noodleIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br/>
    </div>

</p>



<h2>Step 3: Choose Your Toppings</h2>


<p>
    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'topping'}" class="checkbox">
        <input type="checkbox" name="toppingIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + ' ' + ingredient.description + ' '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br/>
    </div>

</p>
    <p><label>Total: $ <input type="text" name = "total" class="num" value="42.00" readonly="readyonly" /></label></p>
    <input type="submit" value="Submit Order" />

</form>





<script type="text/javascript" src="/src/main/resources/static/js/runningtotal.js"></script>
</body>
</html>