<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>


<table>

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.description}"></td>
        <td th:text="${'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>

</table>

<h1>Step 1: Choose Your Broth</h1>

<form method="post">

    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'broth'}" class="checkbox">
        <input type="radio" name="ingredientIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + '  ' + ingredient.description + '   ' + ingredient.price}"></label>
        <br />
    </div>

    <!--input type="submit" value="Cheese" /-->
</form>

<h1>Step 2: Choose Your Noodle</h1>

<form method="post">

    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'noodle'}" class="checkbox">
        <input type="radio" name="ingredientIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + '  ' + ingredient.description + '   ' + ingredient.price}"></label>
        <br />
    </div>

    <!--input type="submit" value="Cheese" /-->
</form>

<h1>Step 3: Choose Your Toppings</h1>

<form method="post">

    <div th:each="ingredient : ${ingredients}" th:if="${ingredient.type == 'topping'}" class="checkbox">
        <input type="checkbox" name="ingredientIds" th:value="${ingredient.id}" th:id="${ingredient.id}"/>
        <label th:for="${ingredient.id}" th:text="${ingredient.name + '  ' + ingredient.description + '   '  +'$'+#numbers.formatDecimal(ingredient.price, 0, 'COMMA', 2, 'POINT')}"></label>
        <br />
    </div>


</form>



</body>
</html>