<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body th:object="${newRamenOrder}">

<h1 th:text="${title}">Edit Ramen Order</h1>

<p th:unless="${ingredients} and ${ingredients.size()}">Order Empty. Please call to place your order.</p>


<p>Your Order Summary:</p>
    <ul >
        <li th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></li>
    </ul>
    <p th:text="${total}"></p>
<p>Is this order correct?</p>


</body>
</html>