<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="${title}">Default Title</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-0bH9bCSaBhlyNy4IVKQFH/8YhtsnSrEs9IQdEkBUuMh6kOBW5dAqEzZz+MinNQMQ" crossorigin="anonymous" />
</head>
<body>


<nav th:fragment="navigation">
    <a href="/ramenu/signup">Sign Up | </a>
    <a href="/ramenu/login">Login | </a>

</nav>

</body>
</html>