<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>


<body>
    <h1 th:text="${title}">Default Title</h1>


    <form action = "ramenu/user/login" method = "get" style = "max-width:600px;">
        <input type="submit" value="Log In" />
    </form>
    <form action = "ramenu/user/signup" method = "get" style = "max-width:600px;">
        <input type="submit" value="Create Account" />
    </form>
    <form action = "ramenu/order" method = "get" style = "max-width:600px;">
        <input type="submit" value="Order" />
    </form>


</body>
</html>